### Build ###
*egg-info/
build/
dist/
__pycache__/
*.pyc
functions.cpython*
/final_year_project*

# Jupyter Notebook
.ipynb_checkpoints

### Data Files ###
/cnn
/model
/data
/glove
/dailymail
*.log
*.csv